<div class="container">
    <div class="header">
        <div class="jumbotron">
            <h1>MongoDB Web-Scraper! With Cheerio and Node</h1>
        </div>
    </div>
    <div class="col-md-12">
        {{#each articles}}
            <div class="article-holder">
                <a class="headline" href="{{this.link}}" target="_blank">{{this.title}}</a>
                <p>{{this.context}}</p>
                <br>
                <div class="comment-holder-{{this._id}}">
                    <hr>
                    <input type="text" id="comment-{{this._id}}" placeholder="Comment on this article..."> <button class="submitComment" data-id={{this._id}}>Submit</button> <br>
                    {{#each this.notes}}
                        <span data-id={{this._id}} class="badge badge-secondary deleteComment">Delete</span><span class="comment">      {{this.content}}</span><br>    
                    {{/each}}
                    <hr>
                </div>
            </div>
        {{/each}}
    </div>
</div>