<div class="container">
    <div class="header">
        <div class="jumbotron">
            <h1>MongoDB Web-Scraper! With Cheerio and Node</h1>
        </div>
    </div>
    <div class="col-md-12">
        {{#each articles}}
            <div class="article-holder">
                <a href="{{this.link}}" target="_blank"><h4 class="headline">{{this.title}}</h4></a>
                <p>{{this.context}}</p>
                <br>
                <div class="comment-holder">
                    <input type="text" placeholder="Comment on this article..."> <button class="submit-comment" id={{this._id}}>Submit</button>
                    <p>{{this.notes.text}}</p>
                </div>
            </div>
        {{/each}}
    </div>
</div>